header[role='banner'] {
    background: $black;
    color: $white;
    padding: $space-xl $space-l;
    border-top: 4px solid $brand-primary;

    .logo {
        margin: 0;
        padding: 0;
        z-index: 1;

        a {
            color: $white;
            text-decoration: none;
        }
    }
    .tagline {
        @include font-size(18px);
        margin-top: $space;
        margin-bottom: 0;
    }

    svg {
        width: 170px;
        @media (min-width: $break-sm) {
            width: auto;
        }
    }

    .nav-toggle {
        display: inline-block;
        position: absolute;
        top: 1.5em;
        right: 1.25em;
        width: 1.5em;
        height: 1.5em;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 2;

        @media (min-width: $break-sm) {
            display: none;
        }

        span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 1em;
            background-color: $brand-primary;
            -webkit-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 0.5em;
            }
            &:nth-child(4) {
                top: 1em;
            }
        }
        &.open {
            span {
                background-color: $white;
                &:nth-child(1),
                &:nth-child(4) {
                    top: 0.5em;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
    nav {
        display: none;

        @media (min-width: $break-sm) {
            display: block;
            margin-top: $space;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: $space;

            li {
                margin-bottom: $space-xs;
            }
            ul {
                padding-left: $space;
            }
        }
    }
}
