header[role='banner'] {
    @include clearfix;
    position: relative;
    color: $white;

    border-top: 4px solid $brand-primary;

    .header-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        padding: $space-l 0;
        z-index: 10;
    }
    .logo {
        float: left;
        margin: 0;
        padding: 0;
        z-index: 1;

        a {
            color: $white;
            text-decoration: none;
        }
    }
    .icon {
        float: left;
        width: 50px;
        height: auto;

        svg {
            width: inherit;
            fill: $white;
            transition-delay: 0.2s;
        }
    }

    .text {
        @include font-size(24px);
        float: left;
        display: block;
        text-align: left;
        padding: 0;
        margin-left: 10px;
        margin-top: -2px;
        transition-delay: 0.2s;

        span {
            display: block;
        }
    }
    .tagline {
        display: none;
        @include font-size(16px);
        margin-top: $space;
        margin-bottom: 0;
    }

    .nav-toggle {
        display: inline-block;
        position: absolute;
        top: 1.5em;
        right: 1.25em;
        width: 1.5em;
        height: 1.5em;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 2;

        @media (min-width: $break-sm) {
            display: none;
        }

        span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 1em;
            background-color: $brand-primary;
            -webkit-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 0.5em;
            }
            &:nth-child(4) {
                top: 1em;
            }
        }
        &.open {
            span {
                background-color: $white;
                &:nth-child(1),
                &:nth-child(4) {
                    top: 0.5em;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
    nav {
        display: none;

        @media (min-width: $break-sm) {
            display: block;
            float: right;
            text-align: right;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            ul {
                padding-left: $space;
            }
        }

        a {
            color: $white;
        }
    }
}
