$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$white: #ffffff;
$black: #000000;

$grey-verylight: #e7e7e7;
$grey-light: #cccccc;
$grey-medium: #575756;
$grey-dark: #333333;
$grey-verydark: #222222;

$accent: #ff6f00;

$brand-primary: $accent;
$brand-secondary: $black;

$font-body: 'Muli', sans-serif;
$font-heading: 'Domine', serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

$container-width: 1200px;

$space: 1em;
$space-xs: .25em;
$space-s: .5em;
$space-m: 1.5em;
$space-l: 2em;
$space-xl: 3em;
