<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body>
    <div class="wrapper">
        {% include header.html %}

        <main role="main" aria-label="Content">
            <div class="hero">
                <div class="filter"></div>
                <div class="video">
                    <video autoplay loop>
                        <source src="{{'/img/31259998.mp4'|relative_url}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    </video>
                </div>
                <div class="intro">
                    {{site.tagline | escape}}
                </div>
            </div>

            <div class="container">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{'/js/jquery.shuffleLetters.js'|relative_url}}"></script>
    <script src="{{'/js/main.js'|relative_url}}"></script>
</body>

</html>